@import compass/bonbon
@import compass/css3/border-radius
@import compass/css3/inline-block
@import compass/utilities/general/clearfix
@import compass/utilities/links/hover-link
@import compass/utilities/lists/horizontal-list
@import compass/reset/utilities

$main-bg-color: hsl(220, 30, 25)
$container-width: 800px
$content-width: 760px
$content-h-padding: 24px
$content-inner-width: $content-width - (2 * $content-h-padding)
$standard-border-color: hsl(220, 30, 10)

body
  background: $main-bg-color
  color: white
  font-family: 'Droid Sans', arial, sans-serif
  margin: 0 auto
  width: $container-width

h1
  background:
    image: image-url('zombom.png')
    position: top right
    repeat: no-repeat
  font-family: Bevan, arial, serif
  font-size: 400%
  font-weight: normal
  margin-bottom: 0
  padding-right: image-width('zombom.png')
  text-align: center
  text-shadow: 2px 2px 2px black

  a
    +hover-link
    color: white

a
  color: lighten($main-bg-color, 50%)

article
  display: block

form
  +reset-box-model

$button-width: 150px

$search-v-padding: 10px
$search-h-padding: 12px

$search-box-border-width: 3px
$search-box-width: $container-width - $button-width - (2 * $search-h-padding)

$search-height: 50px

input[type=text], input[type=submit]
  float: left
  font-size: 150%
  margin: 0

input[type=text]
  +border-radius(12px 0 0 12px)
  border: 0
  -webkit-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em 0.3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em 0.3em, hsl(0, 0%, 60%) 0 0.1em 3px, hsl(0, 0%, 45%) 0 0.3em 1px, rgba(0, 0, 0, 0.2) 0 0.5em 5px
  -moz-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em 0.3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em 0.3em, hsl(0, 0%, 60%) 0 0.1em 3px, hsl(0, 0%, 45%) 0 0.3em 1px, rgba(0, 0, 0, 0.2) 0 0.5em 5px
  box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em 0.3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em 0.3em, hsl(0, 0%, 60%) 0 0.1em 3px, hsl(0, 0%, 45%) 0 0.3em 1px, rgba(0, 0, 0, 0.2) 0 0.5em 5px
  height: $search-height - (2 * $search-v-padding)
  padding: $search-v-padding $search-h-padding
  width: $search-box-width

input[type=submit]
  +border-radius(0 12px 12px 0)
  height: $search-height
  width: $button-width

$item-header-width: 200px
$item-header-h-padding: 12px
$item-header-inner-width: $item-header-width - (2 * $item-header-h-padding)
$item-header-border-width: 1px
$item-header-margin: 12px
$item-header-outer-width: $item-header-width + $item-header-border-width + $item-header-margin
$item-list-width: $content-width - $item-header-outer-width

#content
  +border-radius(0 0 12px 12px)
  +clearfix
  background: white
  border: 1px solid $standard-border-color
  clear: both
  display: block
  margin: 0 auto
  padding: 1em $content-h-padding 2em
  width: $content-inner-width

  &.item
    padding: 0 0 2em 0
    width: $content-width

    ul
      +horizontal-list
      float: left
      width: $item-list-width

      li
        border:
          color: #aaa
          style: solid
          width: 1px
        margin: 4px
        padding: 0
        text-align: center
        width: 80px

  &.item-not-found
    text-align: center

#item-header
  background: #eee
  border:
    color: #aaa
    style: solid
    width: 0 $item-header-border-width $item-header-border-width 0
  float: left
  margin: 0 $item-header-margin $item-header-margin 0
  padding: $item-header-h-padding
  text-align: center
  width: $item-header-inner-width

  span
    display: block

$intro-module-count: 3
$intro-module-bg-color: darken($main-bg-color, 10%)
$intro-module-padding: 12px
$intro-module-gutter: 12px
$intro-module-outer-width: ($container-width - ($intro-module-gutter * ($intro-module-count - 1))) / $intro-module-count
$intro-module-width: $intro-module-outer-width - (2 * $intro-module-padding)

#intro
  +clearfix
  clear: both
  padding-top: 2em

  h2, h3, h4, h5, h6
    text-shadow: 1px 1px 0 black

  .intro-module
    +border-radius(12px)
    background: $intro-module-bg-color
    float: left
    height: 240px
    margin-left: $intro-module-gutter
    padding: $intro-module-padding
    width: $intro-module-width

    &:first-child
      margin-left: 0

    h3
      margin-top: 0

    p, article
      font-size: 75%

    li
      font-size: 85%
      margin-bottom: 1em

    article
      margin-bottom: 2em

      span
        display: block
        font-style: italic
        text-align: right

#share-your-story
  display: block
  font-size: 75%
  text-align: right

#brought-to-you-by
  +border-radius(12px)
  background: $intro-module-bg-color
  clear: both
  font-weight: bold
  margin: .5em 0
  text-align: center
  padding: 6px 12px

#comments
  display: none

