!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %title
      Shop Warlock:
      - if @item
        = @item.name
      - else
        Find Neopets items before they restock
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    %link{:type => 'text/css', :rel => 'stylesheet', :href => '/stylesheets/item.css'}
    %meta{:content => "Shop Warlock", :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "http://warlock.openneo.net/", :property => "og:url"}/
    %meta{:content => "http://warlock.openneo.net/images/zombom.png", :property => "og:image"}/
    %meta{:content => "Shop Warlock", :property => "og:site_name"}/
    %meta{:content => "1524594421", :property => "fb:admins"}/
    = timestamp_expiry_stylesheet
  %body
    - unless funny?
      %p#funny.big-module
        Happy April Fool's, 2011!
    %header#main-header
      %h1
        %a{:href => '/'} Shop Warlock

      %form#item-form{:action => "/items", :method => 'GET'}
        %input#item-name{:type => 'text', :name => 'name', :placeholder => 'Enter an item name', :value => @item_name}
        %input{:type => 'submit', :value => 'Find item', :class => 'button blue'}

    = yield

    %section#intro
      %article.intro-module
        %h3 What do I do?
        %ol
          %li
            Type in a Neopets item name to see
            %strong when it will restock today
          %li Head on over to the official shop
          %li ???
          %li Profit!
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwarlock.openneo.net%2F&amp;layout=standard&amp;show_faces=false&amp;width=230&amp;action=like&amp;font&amp;colorscheme=dark&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:230px; height:35px;" allowTransparency="true"></iframe>

      %article.intro-module
        %h3 How does it work?
        %p
          Restocks aren't totally random, since TNT needs to keep the system
          consistent and easy to debug.
        %p
          %strong A simple formula
          dictates which items restock when, and, after serious data analysis
          and quite a bit of luck, we worked it out. It's essentially a
          predictable seed for the random number generator.
          %a{:href => 'https://github.com/matchu/openneo-warlock/blob/master/lib/item.rb'}
            Check out the source code if you're interested.
        %p
          I mean, magic. Warlock magic.

      %article.intro-module
        %h3 Users love the Warlock

        %article
          %q
            Thanks for letting me help test Shop Warlock! My shop is stocked
            with all sorts of goodies now :)
          %span.author &mdash;Mika C

        %article
          %q
            Snagged a Zafara Double Agent Plushie! Yippee!
          %span.author &mdash;Lucie C

        %article
          %q
            THIS IS THE BEST THING IN THE WORLD. I'm gonna treasure this site forever :D
          %span.author &mdash;Hannah K

    %p#brought-to-you-by.big-module
      Brought to you by the makers of
      %a{:href => 'http://impress.openneo.net/'} Dress to Impress

    #comments
      #disqus_thread
      :javascript
        var disqus_shortname = 'dresstoimpress';

        // The following are highly recommended additional parameters. Remove the slashes in front to use.
        // var disqus_identifier = 'unique_dynamic_id_1234';
        var disqus_url = 'http://warlock.openneo.net/';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);

            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
      %a.dsq-brlink{:href => "http://disqus.com"}
        blog comments powered by
        %span.logo-disqus Disqus

    %script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js', :type => 'text/javascript'}
    %script{:src => '/javascripts/items.js', :type => 'text/javascript'}

    %script{:src => "//static.getclicky.com/js", :type => "text/javascript"}
    :javascript
      try{ clicky.init(66405649); }catch(e){}
    %noscript
      %p
        %img{:alt => "Clicky", :height => "1", :src => "//in.getclicky.com/66405649ns.gif", :width => "1"}/

