#content.item-not-found
  %h2
    We could not find an item named #{escape_html @item_name.inspect}.
  %h3
    Are you sure you spelled it correctly? Make sure this item restocks in
    official Neopian shops.

