- if @item
  = cache @item.key_today do
    %article#content.item
      %header#item-header
        %h2= @item.formal_name
        %a{:href => "http://www.neopets.com/objects.phtml?type=shop&obj_type=#{@item.shop_id}"}
          %img{:src => @item.image_url}
          %span Visit shop
      %h3 Today, this item will restock at&hellip;
      %ul#timestamps
        - @timestamps.each do |timestamp|
          %li{:class => timestamp_classname(timestamp)}= format_timestamp(timestamp)

