#content.item-not-found
  %h2
    We could not find an item named #{escape_html @item_name.inspect}.
  %h3
    Are you sure you spelled it correctly? Make sure this item restocks in
    official Neopian shops.
  %p
    We are having some trouble with r99+ items, which seem to have a slightly
    different restocking pattern. We're continuing to actively research all of
    the data we have (which, granted, is scarce for high-rarity items) and hope
    to have everything sorted by Monday. Thanks for your patience!

