!!!
%html
  %head
    %title
      Shop Warlock:
      - if @item
        = @item.name
      - else
        Find Neopets items before they restock
    <link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    %link{:type => 'text/css', :rel => 'stylesheet', :href => '/stylesheets/item.css'}
    = timestamp_expiry_stylesheet
  %body
    %header#main-header
      %h1
        %a{:href => '/'} Shop Warlock

      %form{:action => "/items", :method => 'GET'}
        %input{:type => 'text', :name => 'name', :placeholder => 'Enter an item name', :value => @item_name}
        %input{:type => 'submit', :value => 'Find item', :class => 'button blue'}

    = yield

